version: '3'
# secrets:
#   mysql_user: 
#     labels: 
#   # ${DBUSER}
#   # mysql_password: ${DBPASS}
#   # mysql_host: ${DBHOST}
#   # mysql_port: ${DBPORT}
#   # mysql_name: ${DBNAME}
services:
  db:
    image: mysql:8.0
    networks:
      - mynet
    environment:
      - MYSQL_ROOT_PASSWORD=$DBPASS
      - MYSQL_DATABASE=$DBNAME
    ports:
      - '3306:3306'
    healthcheck:
      test: ["CMD", "mysql", "-u", "$DBUSER",  "-p$DBPASS", "-e", "show databases;"]
      interval: 10s
  # cache:
  #   image: redis:7.2-alpine
  #   environment:
  #     REDIS_PASSWORD: rpassword
  #   networks:
  #     - mynet
  #   ports:
  #     - '6379:6379'
  #   healthcheck:
  #     test: ["CMD", "redis-cli", "-a", "rpassword", "ping"]
  #     interval: 10s
  #     timeout: 3s
  #     retries: 3
  # mongo:
  #   image: mongo
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: example
  #   networks:
  #     - mynet
  #   ports:
  #     - '27017:27017'
  #   healthcheck:
  #     test: [
  #       "CMD",
  #       "mongo",
  #       "--quiet",
  #       "127.0.0.1/test",
  #       "--eval",
  #       "'quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)'",
  #     ]
  #     interval: 10s
  #     timeout: 10s
  #     retries: 5
  #     start_period: 60s
  api:
    image: jerry8287/sampleku
    depends_on:
      db:
        condition: service_healthy
        required: true
    env_file:
      - app.env
      # cache:
      #   condition: service_healthy
      #   required: true
      # mongo:
      #   condition: service_started
      #   required: true
    environment:
      - DBUSER=${DBUSER}
      - DBPASS=${DBPASS}
      - DBHOST=db
      - DBPORT=${DBPORT}
      - DBNAME=${DBNAME}
      # - RHOST=cache
      # - RPORT=6379
      # - RPASSWORD=rpassword
      # - MUSER=root
      # - MPASSWORD=example
      # - MHOST=mongo
      # - MPORT=27017
    ports:
      - '8000:8000'
    networks:
      - mynet

networks:
  mynet:
    driver: bridge
