name: "deploy action"
on: 
  push:
    branches: 
      [main]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/sampleku:latest
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v1.0.0
      env:
        DBUSER: ${{ secrets.DBUSER }}
        DBPASS: ${{ secrets.DBPASS }}
        DBPORT: ${{ secrets.DBPORT }}
        DBNAME: ${{ secrets.DBNAME }}
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.key }}
        port: ${{ secrets.PORT }}
        envs: DBUSER, DBPASS, DBPORT, DBNAME
        script: |
          export DBUSER=$DBUSER
          export DBPASS=$DBPASS
          export DBPORT=$DBPORT
          export DBNAME=$DBNAME
          git clone https://github.com/jackthepanda96/multi-deployment-example.git
          cd multi-deployment-example
          docker compose down -v
          docker compose up -d
